In [15]:
import pandas as pd
import numpy as np

In [2]:
btc=pd.read_csv('btc_all_time.csv')
eth=pd.read_csv('eth_all_time.csv')

In [3]:
btc.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2021-02-06,38138.388340,40846.546903,38138.388340,39266.010735,7.132603e+10,7.311925e+11
1,2021-02-05,36931.545648,38225.905946,36658.763537,38144.306863,5.859807e+10,7.102668e+11
2,2021-02-04,37475.104029,38592.176377,36317.498807,36926.064465,6.883807e+10,6.875428e+11
3,2021-02-03,35510.821213,37480.187894,35443.982726,37472.090104,6.116682e+10,6.976729e+11
4,2021-02-02,33533.200671,35896.882145,33489.218672,35510.289037,6.308859e+10,6.611146e+11

In [9]:
len(eth)

2011

In [10]:
len(btc)

2842

In [11]:
eth['btc_Market Cap'] = btc['Market Cap'][0:len(eth)]

In [13]:
eth['ratio_market Cap']=eth['btc_Market Cap']/eth['Market Cap']

In [14]:
eth.head()

,Date,Open,High,Low,Close,Volume,Market Cap,btc_Market Cap,ratio_market Cap
0,2021-02-06,1717.797546,1738.314438,1649.068729,1677.846847,3.987342e+10,1.922216e+11,7.311925e+11,3.803903
1,2021-02-05,1594.793330,1756.511032,1594.793330,1718.650872,4.010863e+10,1.968731e+11,7.102668e+11,3.607738
2,2021-02-04,1661.170212,1689.186683,1561.853493,1594.762694,4.439687e+10,1.826602e+11,6.875428e+11,3.764054
3,2021-02-03,1514.769623,1660.909542,1510.010274,1660.909542,4.187457e+10,1.902138e+11,6.976729e+11,3.667835
4,2021-02-02,1369.505095,1542.990946,1362.771234,1515.193770,4.543714e+10,1.735053e+11,6.611146e+11,3.810342

In [20]:
eth[eth['ratio_market Cap']==np.min(eth['ratio_market Cap'])]

,Date,Open,High,Low,Close,Volume,Market Cap,btc_Market Cap,ratio_market Cap
1335,2017-06-12,341.164001,414.756012,341.164001,401.48999,2.882650e+09,3.711095e+10,4.358535e+10,1.174461